<h1>About Me</h1>
<p>RoR been my first language learnt, Improve it is the current goal of this Udemy course, the webpage will be updated accordingly to the knowledge adquire from these learnings</p>
<p>Currently using ruby 5.0</p>
