<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "18944802_1494976310554687_754388595_n.jpg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>RoR been my first language learnt, Improve it is the current goal of this Udemy course, the webpage will be updated accordingly to the knowledge adquire from these learnings</p>

    <p>Currently using ruby 5.0</p>
  </div>
</div>

