<div class="app-card-container">
  <div class="card">

    <h1>If you would like to discuss any idea</h1>
    <hr>

    <div class= "row">
      <div class="col-md-6">
        <h4>Address</h4>
        <p>Some Street 1234, Some District, C.P. 12345</p>
        <h4>Phone</h4>
        <p><%= number_to_phone "1234567890" %></p>
        <h4>Email</h4>
        <p><a href="mailto:romtega88@gmail.com?subject=POrtfolioContact" "email me">romtega88@gmail.com</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29855.02245369699!2d-103.37409730000003!3d20.715186000000017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1497061523562" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>