<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Welcome to my place, you will find some of my work done so far, if you have any project in mind that I could be of any help please message me, I would be more than happy to talk about it</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


