<div class="inner cover">
  <h1 class="cover-heading">Bienvenido</h1>
  <p class="lead">Template made with the Udemy course for a portafolio webpage</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


